@import "tailwindcss";

@theme inline {
  --color-ezee-blue: #4169E1;
  --color-ezee-dark: #0A0A0A;
  --color-ezee-light: #FAFAFA;
  
  --font-space: var(--font-space-grotesk);
  --font-inter: var(--font-inter);
}
